.header{
    background-color: darkblue;
    color: #f08080;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-family: 'Cinzel Decorative', cursive;
}

.content{
    display: flex;
    flex: 2 0px;
    max-width: 960px;
    box-flex: right;
}
.content h2{
    font-family: 'Cinzel Decorative', cursive;
}


.header img{
max-width: 354px;
}

.container{
    width: 450 960;
    background-color: #f1f088;
    flex-flow: row wrap;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.figure img{
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    max-width: 199px;
}
.wrapper .container{
    flex: 0 1 auto;
    margin-right: 15px;
    width: 75 200;
    justify-content: space-between;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: lightblue;
}

.figure{
    flex: 1 0 auto;
    background-color: lightgray;
    margin-right: 0px;
    box-flex: left;
}