.header{
    background-color: darkblue;
    color: #f08080;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

body{
    background-color: lightblue;
}

.content1{
    flex: 1 0 auto;
    display: flex;
    margin-right: 15px;
    background-color: lightgray;
}
.content{
    display: flex;
    flex: 0 1 auto;
}

.header img{
max-width: 354px;
}

.container{
    size: auto;
    background-color: #f1f088;
    flex-flow: row wrap;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.content1 img{
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    max-width: 199px;
}
.wrapper{
    justify-content: space-between;
}