  .header{
      background-color: darkblue;
      color: #f08080;
      padding: 1%;
      margin-bottom: 10px;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
  }
